[Unit]
Description=PHRC_BGCStructDB web service
After=network.target

[Service]
WorkingDirectory=/opt/phrc-bgcstructdb-web
EnvironmentFile=/etc/phrc-bgcstructdb.env
ExecStart=/usr/bin/env uvicorn app.main:app --host 127.0.0.1 --port 8000
Restart=always

[Install]
WantedBy=multi-user.target
